h1{font-size:200% ;
  font-family: "Lucida Console", Monaco, monospace
  color: #C2FCF7}

body{
  background-image: url('images/1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  /* Safari 4-5, Chrome 1-9 */
   /* background: -webkit-gradient(radial, center center, 0, center center, 460, from(#eefc57), to(#df9a57));

  /* Safari 5.1+, Chrome 10+ */
  /*
  background-image: url(images/nature.jpg);
  background-size: 100%;
  height:600px;
  */
  background-size: 100%;
  text-align: center;
}

.radio{
  height:100px;
}
/*
.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background-image: url('images/nature.jpg');
  width: 20000px;
  height: 20000px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}
*/
a {
    display: inline-block;
    color: #C2FCF7;
    outline: none;
    cursor: pointer;
    border: solid 1px #da7c0c;
    background: rgba(0,0,0,0.4);
    text-align: center;
    text-decoration: none;
    font: 40px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .3em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 155px 45px;
  font-size: 48px;
  font-family: "Bitter",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}
.left{
  text-align: left;
  color: white;
}
.clr{
  color: white;
  font-size: 50%;
}

body{
  font-size: 300%
}
tbody{
  font-size: 300%
}
thead{
  font-size: 250%
}

input{
  font-size: 100%;
}


/*.panel-transparent {
        background: none;
    }*/



.panel-transparent .panel-body{
        th {
    background-color: #4CAF50;
    color: white;
}

        tr:nth-child(even) {background-color: #f2f6f2}
    }

.btn{color: blue}
.log{color: white}

/*
#content {
    position: absolute;
    bottom: 72px; left: 72px;
    width: 300px;
    height: 100px;
}    

#blurredbackground {
    position: absolute;    
    bottom: 72px; left: 72px;    
    width: 300px;    
    height: 100px;    
    -webkit-filter: blur(10px);
    filter: blur(10px);
    z-index: -1;
}
*/