<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/styles.css"> 

	<title>your answers</title>
</head>
<body>
<div class="background-image"></div>
<div class="content">

<div class="clr panel panel-primary panel-transparent">
	{% for answer in answers %}
		{{answer.fact.statement}}
		<br>
		{% if answer.answer == answer.fact.correct_answer %}	
			correct
		{% else %}
			incorrect
		{% endif %}
		<br>
		<br>
	{% endfor %}
</div>

<a href="{{url_for('leaderboard')}}">go to leaderboard</a>
</div>
</body>
</html>