<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS --> 
  <link rel="stylesheet"href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
  <!-- jQuery library --> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">

	
	<title>
    TRIBE TRIVIA
 
  </title>
</head>
<body>
<div class="background-image"></div>
<div class="content">

    <h1>TRIBE TRIVIA</h1>

<div id="blurredbackground"></div>
<div class="container log" id="content">
<section class="loginform cf">

<form name="login" action="{{ url_for('login') }}" method="post" accept-charset="utf-8" class="form-inline">
    <div class="form-group">
    <label for="name">Name</label>
    <input type="name" name="name" placeholder="Full Name" class="form-control" required>
    
    <input type="submit" class="form-control" value="Login">
    </div>
</form>
</section>
<br>
<br>
<p>Dont have an account SIGN UP!</p>
<br>

</div>

<div class="container left panel panel-primary panel-transparent" >
<div class="panel-body">
<section class="signUpform cf">
<form name="signup" action="{{ url_for('signup') }}" method="post" accept-charset="utf-8" role="form" class="form-horizontal">
    <div class="form-group">
    	<label for="name" >Name</label>
    	<input type="name" name="name" placeholder="Full Name" class="form-control">
    </div>

    <div class="form-group">

    	<input type="radio" name="gender" value="male">Male
    	<input type="radio" name="gender" value="female">Female
    	<input type="radio" name="gender" value="other">other
    </div>
    <div class="form-group">

  	<label for="name" >Nationality/Tribe</label>
  	<input type="name" name="nationality" placeholder="Nationality/Tribe" class="form-control" required>
    </div>
  <div class="form-­group btn"> 
  <input type="submit" class="btn btn‐default" value="Sign Up">
  </div> 
  
</form> 
</section>
</div>
</div>
      

</div>
</body>
</html>




