<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/styles.css"> 
	<h1>TRIBE TRIVIA</h1>
	
	<title></title>
</head>
<body>

<section class="loginform cf">
<form name="login" action="{{ url_for('login') }}" method="post" accept-charset="utf-8">
  <ul>
    <li><label for="name">Name</label>
    <input type="name" name="name" placeholder="Full Name" required></li>
    <li>
    <input type="submit" value="Login"></li>
  </ul>
</form>
</section>
<br>
<br>
<section class="signUpform cf">
<form name="signup" action="{{ url_for('signup') }}" method="post" accept-charset="utf-8" role="form">
  <ul>
    <div class="form-group">
    	<li><label for="name" >Name</label>
    	<input type="name" name="name" placeholder="Full Name" class="form-control"></li>
    </div>

  	<input type="radio" name="gender" value="male">Male
  	<input type="radio" name="gender" value="female">Female
  	<input type="radio" name="gender" value="other">other
  	<br>
  	<li><label for="name" >Nationality/Tribe</label>
  	<input type="name" name="nationality" placeholder="Nationality/Tribe" required></li></li>

  </ul>
  <div class="form-­group"> 
  <div class="col-­sm-­offset-‐2 col‐sm-10"> 
  <input type="submit" class="btn btn‐default" value="Sign Up">
  </div> 
  </div> 
  
</form> 
      


</body>
</html>




