<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css"> 

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<h1>LEADER_BOARD</h1>
    <title>LEADER_BOARD</title>
</head>
<body>


<div class="table-condensed">
  <!-- Table -->
  <table class="table">
    leader board

  <thead>   
      <tr>
          <th>Name</th>
          <th>Nationality/Tribe</th>
          <th>Score</th>
      </tr>   
  </thead>
  <tbody>
  {% for person in people%}
      <tr>
      <td>{{person.name}}</td>
      <td>{{person.nationality}}</td>
      <td>{{person.score}}</td>
      </tr> 
      {% endfor %} 
  </tbody>
</table>
</div>

</body>
</html>