<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/styles.css"> 
	<h1>TRIBE TRIVIA</h1>
	
	<title></title>
</head>
<body>
</section>
<br>
<br>
<section class="signUpform cf">
<form name="signup" action="url_for('choose.html')}}" method="post" accept-charset="utf-8">
  <ul>
  	<li><label for="name" >Name</label>
  	<input type="name" name="name" placeholder="Full Name" required></li>

  	<input type="radio" name="gender" value="male">Male
  	<input type="radio" name="gender" value="female">Female
  	<input type="radio" name="gender" value="other">other
  	<br>
  	<li><label for="name" >Nationality/Tribe</label>
  	<input type="name" name="Nationality/Tribe" placeholder="Nationality/Tribe" required></li></li>

  </ul>
  <div class="form-­‐group"> 
  <div class="col-­‐sm-­‐offset-­‐2 col-­‐sm-­‐10"> 
  <button    type="submit"    class="btnbtn‐default">SignUp</button>
  </div> 
  </div> 
  <div class="form-­‐group"> 
  <div class="col-­‐sm-­‐offset-­‐2 col-­‐sm-­‐10"> 
  <button    type="submit"    class="btnbtn‐default">continue without signing</button>
  </div> 
  </div> 
      
      


</body>
</html>




