<!DOCTYPE html>
<html>
<head>
  <title>
    TRIBE TRIVIA
  </title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  
</head>

<body>
	  <h1>TRIBE TRIVIA</h1>
	  <form>	
	  	<input type="text" name="Full Name" placeholder="Name">
	  	<input type="text" name="email address" placeholder="email address">
	  	<br>
	  	<input type="radio" name="gender" value="Male">
	  	<input type="radio" name="gender" value="Female">
	  	<br>
	  	<input type="text" name="Nationality/Tribe" placeholder="Nationality">
	  	<button type="submit" class="btn btn-default">Submit</button>

	  </form>
	  <a href="">ENTER WITHOUT SIGNING</a>


</body>


</html>
